<html>

<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<title>Bóng đá</title>

<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
<link rel="stylesheet" href="/css/bootstrap.css" />
<link href="/css/font-awesome.min.css" rel="stylesheet">
<link href="/style.css" rel="stylesheet">
<link href="/css/responsive.css" rel="stylesheet">
<link href="/css/colors.css" rel="stylesheet">
<link href="/css/version/tech.css" rel="stylesheet">

</head>
<body>
    <div id="wrapper">
            <header class="tech-header header">
            <div class="container-fluid">
                <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- <a class="navbar-brand" href="/"><img src="images/version/tech-logo.png" alt=""></a> -->
                    <a class="navbar-brand" href="/"><img src="../upload/logo.png" alt=""></a>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Trang Chủ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/giai-dau/1">Ngoại Hạng Anh</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/giai-dau/2">Bóng Đá Ý</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/giai-dau/3">Tây Ba Nha</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/giai-dau/4">Bóng Đá Đức</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">Liên Hệ</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav mr-2">
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-rss"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-android"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-apple"></i></a>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Đăng nhập</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
