
      <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        <div class="sidebar">
          <div class="widget">
            <div class="banner-spot clearfix">
              <div class="banner-img">
                <img src="/upload/gai.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>



          <div class="widget">
            <h2 class="widget-title">Lịch thi đấu</h2>
            <div class="blog-list-widget">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="ms-2 me-auto">
                    <div class="">AT <img src="https://dichthuatphuongdong.com/tienich/uploads/flags/shiny/64x64/at.png"> - <img src="https://dichthuatphuongdong.com/tienich/uploads/flags/shiny/64x64/vn.png"> VN</div>
                    <span ><a href="" rel="nofollow" class="link-ls-table">Áo vs Việt Nam</a> 16/11/21 - 02:45</span>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="ms-2 me-auto">
                    <div class="">HU <img src="https://dichthuatphuongdong.com/tienich/uploads/flags/shiny/64x64/hu.png"> - <img src="https://dichthuatphuongdong.com/tienich/uploads/flags/shiny/64x64/it.png"> IT</div>
                    <span ><a href="" rel="nofollow" class="link-ls-table">Hungary vs Ý</a> 16/11/21 - 02:45</span>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="">CU <img src="https://dichthuatphuongdong.com/tienich/uploads/flags/shiny/64x64/cu.png"> - <img src="https://dichthuatphuongdong.com/tienich/uploads/flags/shiny/64x64/ga.png"> GA</div>
                    <span ><a href="" rel="nofollow" class="link-ls-table">Cuba vs Gabon</a> 16/11/21 - 02:45</span>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="">IR <img src="https://dichthuatphuongdong.com/tienich/uploads/flags/shiny/64x64/ir.png"> - <img src="https://dichthuatphuongdong.com/tienich/uploads/flags/shiny/64x64/iq.png"> IQ</div>
                    <span ><a href="" rel="nofollow" class="link-ls-table">Iran vs Iraq</a> 16/11/21 - 02:45</span>
                  </div>
                </li>

                <!-- <li class="list-group-item"><div class="item mid9p40tp5ad43rb83nu0bnnmbdg match-status-Fixture"><a href="https://www.24h.com.vn/bong-da/ao-vs-moldova-c48mid9p40tp5ad43rb83nu0bnnmbdg.html" rel="nofollow" class="link-ls-table">Áo vs Moldova</a><time class="cate-24h-foot-com-resu-info-time " id="td_box_list_match_hot_day_du_datetime_9p40tp5ad43rb83nu0bnnmbdg">16/11/21 - 02:45</time><div class="cate-24h-foot-com-resu-info-result">
                  <p class="d-flex align-items-center"><span>AUT</span><img src="//cdn.24h.com.vn/upload/livescore/2-2021/giangbt/2021-05-26/austria_35x35.png" alt="Logo Áo" class="img-fluid img-scale-down initial loading img-template-set-size" data-was-processed="true">
                  <strong class=" match-fs_a-fs_b" id="td_box_list_match_hot_day_du_fs_9p40tp5ad43rb83nu0bnnmbdg"> - </strong><img src="//cdn.24h.com.vn/upload/livescore/2-2021/giangbt/2021-05-26/moldova_35x35.png" alt="Logo Moldova" class="img-fluid img-scale-down initial loaded img-template-set-size" data-was-processed="true">
                  <span>MDA</span></p>
                </div>
                  </div>
                </li> -->
              </ul>
            </div>
          </div>


          <div class="widget">
            <h2 class="widget-title">Video nổi bật</h2>
            <div class="trend-videos">
              <div class="blog-box">
                <div class="post-media">
                  <a href="https://youtu.be/MTth8S5NfJo" title="">
                    <!-- <img src="/upload/tech_video_01.jpg" alt="" class="img-fluid"> -->
                    <iframe width="" height="" src="https://www.youtube.com/embed/MTth8S5NfJo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="hovereffect">
                      <span class="videohover"></span>
                    </div>
                  </a>
                </div>
                <div class="blog-meta">
                  <h4><a href="https://youtu.be/MTth8S5NfJo" title="">TOP 10 Huyền Thoại Bóng Đá Thế Giới Vĩ Đại Nhất Lịch Sử - Messi Đứng Thứ Hạng Cao Hơn Ronaldo</a></h4>
                </div>
              </div>

              <hr class="invis">

              <div class="blog-box">
                <div class="post-media">
                  <a href="https://youtu.be/XQGZIDu9aDY" title="">
                    <!-- <img src="/upload/tech_video_02.jpg" alt="" class="img-fluid"> -->
                    <iframe width="" height="" src="https://www.youtube.com/embed/XQGZIDu9aDY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="hovereffect">
                      <span class="videohover"></span>
                    </div>
                  </a>
                </div>
                <div class="blog-meta">
                  <h4><a href="https://youtu.be/XQGZIDu9aDY" title="">Top 10 quốc gia có chất lượng cầu thủ tốt nhất thế giới</a></h4>
                </div>
              </div>

              <hr class="invis">

              <div class="blog-box">
                <div class="post-media">
                  <a href="https://youtu.be/LGcJMG29Woo" title="">
                    <!-- <img src="/upload/tech_video_03.jpg" alt="" class="img-fluid"> -->
                    <iframe width="" height="" src="https://www.youtube.com/embed/LGcJMG29Woo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="hovereffect">
                      <span class="videohover"></span>
                    </div>
                  </a>
                </div>
                <div class="blog-meta">
                  <h4><a href="https://youtu.be/LGcJMG29Woo" title="">Ai là người vĩ đại nhất lịch sử bóng đá???</a></h4>
                </div>
              </div>
            </div>
          </div>





          <div class="widget">
            <h2 class="widget-title">Follow Us</h2>

            <div class="row text-center">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <a href="#" class="social-button facebook-button">
                  <i class="fa fa-facebook"></i>
                  <p>27k</p>
                </a>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <a href="#" class="social-button twitter-button">
                  <i class="fa fa-twitter"></i>
                  <p>98k</p>
                </a>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <a href="#" class="social-button google-button">
                  <i class="fa fa-google-plus"></i>
                  <p>17k</p>
                </a>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <a href="#" class="social-button youtube-button">
                  <i class="fa fa-youtube"></i>
                  <p>22k</p>
                </a>
              </div>
            </div>
          </div>

          <!-- <div class="widget">
            <div class="banner-spot clearfix">
              <div class="banner-img">
                <img src="/upload/banner_03.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div> -->
        </div>
      </div>